/* Main Navigation */
.is-style-main-navigation {
	.wp-block-navigation__responsive-container-close svg,
	.wp-block-navigation__responsive-container-open svg {
		width: 36px;
		height: 36px;
	}

	.wp-block-navigation__responsive-container:not(.is-menu-open) {
		.wp-block-navigation__container {
			gap: 0 1.6rem;

			> .wp-block-navigation-item {
				padding: 0.8rem 0;

				> .wp-block-navigation-item__content {
					padding: 0.2rem 0;
					border-bottom: 2px solid transparent;
				}

				&.current-menu-item {
					> .wp-block-navigation-item__content {
						border-color: currentColor;
					}
				}

				.wp-block-navigation__submenu-icon {
					margin-left: 0.4rem;
					margin-top: -0.1rem;
					width: 14px;
					height: 14px;
				}

				> .wp-block-navigation__submenu-container {
					left: auto;
					right: 0;
				}

				.wp-block-navigation__submenu-container {
					padding: 0.8rem 0;
					font-size: var(--wp--preset--font-size--small);
					min-width: 250px !important;
					border: 1px solid #fff;

					.wp-block-navigation-item {
						.wp-block-navigation-item__content {
							padding: 0.8rem 1.6rem;
							border: none;
						}

						.wp-block-navigation__submenu-icon {
							margin-right: 1rem;
						}

						&.current-menu-item {
							> .wp-block-navigation-item__content {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
