<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"4vw"},"padding":{"right":"4vw","left":"4vw"}}},"className":"site-content","layout":{"contentSize":"1600px"}} -->
<main class="wp-block-group site-content" style="margin-top:4vw;padding-right:4vw;padding-left:4vw">

	<!-- wp:pattern {"slug":"ambitious/blog-posts-list"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
