/* Post Comments Form Block */
.wp-block-post-comments-form {
	.comment-reply-title {
		margin-top: 2em;
		font-size: var(--wp--preset--font-size--large);
	}

	.comment-form {
		.submit.wp-block-button__link {
			border: 2px solid currentColor;
			color: var(--wp--preset--color--primary);
			background: none;

			&:hover,
			&:active,
			&:focus {
				color: var(--wp--preset--color--secondary);
				background: none !important;
			}
		}
	}
}
