/* Query Pagination Block */
.wp-block-query-pagination {

	> .wp-block-query-pagination-numbers {
		margin-bottom: 0;
	}

	.page-numbers {
		display: inline-block;
		font-weight: bold;
		padding: 0.25rem 1rem;
		border: 2px solid currentColor;
		margin-right: 0.5rem;
		text-decoration: none;

		&.dots {
			border: none;
			padding: 0;
		}
	}
}
